@using RecordShop

<table class="p-3 m-3">
    <tbody>
        @foreach (var album in Albums)
        {
            <RecordDetails Album="album" />
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Album> Albums { get; set; } = new();

    [Parameter] public EventCallback<Album> OnUpdateAlbum { get; set; }
}
