<nav>
    <ul class="navbar">
        <li class="p-1 m-1"><a href="/">Home</a></li>
        <li class="p-1 m-1"><a href="/records">All records</a></li>
        <li class="p-1 m-1"><a href="/records/add">New record</a></li>
    </ul>
</nav>

@code {

}
