@using RecordShop
@using Microsoft.Extensions.Logging
@rendermode InteractiveServer
@inject ILogger<RecordDetails> logger

<tr>
    @if (FormVisible) {
        <td><InputText @bind-Value="Album.Artist" /></td>
        <td><InputText @bind-Value="Album.Title" /></td>
        <td><GenericButton ButtonText="✔️" Obj="Album" T="Album" OnClick="UpdateAlbum" /></td>
    }
    else 
    {
        <td><span>@Album.Artist</span></td>
        <td><span>@Album.Title</span></td>
        <td><GenericButton ButtonText="🔧" T="bool" Obj="FormVisible" OnClick="ToggleFormVisible" /></td>
    }
</tr>

@code {
    [Parameter] public Album? Album { get; set; }

    public bool FormVisible { get; set; } = false;

    private void Submit()
    {
        logger.LogInformation(Album.ToString());
    }

    private void ToggleFormVisible(bool formVisible) => FormVisible = !formVisible;

    private void UpdateAlbum(Album album) {
        ToggleFormVisible(FormVisible);
    }
}
