@using RecordShop

<td class="px-2 mx-2"><InputText @bind-Value="Album.Artist" /></td>
<td class="px-2 mx-2"><InputText @bind-Value="Album.Title" /></td>
<td class="px-2 mx-2"><Button ButtonText="✔️" Obj="Album" T="Album" OnClick="UpdateAlbum" /></td>

@code {
    [Parameter]
    public Album? Album { get; set; }

    [Parameter]
    public EventCallback<Album> OnUpdate { get; set; }

    public void UpdateAlbum () {
        OnUpdate.InvokeAsync(Album);
    }
}
