@using RecordShop

<td><span>@Album.Artist</span></td>
<td><span>@Album.Title</span></td>
<td><GenericButton ButtonText="🔧" T="bool" Obj="false" OnClick="EditRecord" /></td>
@if (StatusCode == 200)
{
    <td><span>🆗 (@StatusCode)</span></td>
}
else
{
    <td><span>❌ (@StatusCode)</span></td>
}

@code {
    [Parameter] 
    public Album Album { get; set; }

    [Parameter] 
    public int StatusCode { get; set; }

    [Parameter] 
    public EventCallback<bool> OnEditRecord { get; set; }

    public void EditRecord(bool edit) {
        OnEditRecord.InvokeAsync(edit);
    }
}
