@using RecordShop

<table>
    <tbody>
        @foreach (var album in Albums)
        {
            <RecordDetails Album="album" />
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Album> Albums { get; set; } = new();
}
