@using RecordShop
@using Microsoft.Extensions.Logging
@rendermode InteractiveServer
@inject ILogger<RecordDetails> logger

<tr>
    @if (FormVisible) 
    {
        <td><InputText @bind-Value="Album.Artist" /></td>
        <td><InputText @bind-Value="Album.Title" /></td>
        <td><GenericButton ButtonText="✔️" Obj="Album" T="Album" OnClick="UpdateAlbum" /></td>
    }
    else 
    {
        <td><span>@Album.Artist</span></td>
        <td><span>@Album.Title</span></td>
        <td><GenericButton ButtonText="🔧" T="bool" Obj="FormVisible" OnClick="ToggleFormVisible" /></td>
        if (SyncStatus == 200) 
        {
            <td><span>🆗</span></td>
        }
        else 
        {
            <td><span>❌</span></td>
        }
    }
</tr>

@code {
    private HttpUtils httpUtils = new HttpUtils();

    private int SyncStatus { get; set; } = 200;

    [Parameter] public Album? Album { get; set; }

    [Parameter] public EventCallback<Album> OnUpdateAlbum { get; set; }

    public bool FormVisible { get; set; } = false;

    private void Submit()
    {
        logger.LogInformation(Album.ToString());
    }

    private void ToggleFormVisible(bool formVisible) => FormVisible = !formVisible;

    private void UpdateAlbum(Album album) {
        ToggleFormVisible(FormVisible);
        SyncStatus = (int)httpUtils.UpdateRecord(album).StatusCode ;
    }
}
