@using RecordShop
@inject NavigationManager navman

<td><span>@Album.Artist</span></td>
<td><span>@Album.Title</span></td>
<td>
    <Button ButtonText="🔧" T="bool" Obj="false" OnClick="EditRecord" />
    <Button ButtonText="🔍" T="Album" Obj="Album" OnClick="ShowRecordPage" />
</td>
@if (StatusCode == 200)
{
    <td><span>🆗 (@StatusCode)</span></td>
}
else
{
    <td><span>❌ (@StatusCode)</span></td>
}

@code {

    [Parameter] 
    public Album Album { get; set; }

    [Parameter] 
    public int StatusCode { get; set; }

    [Parameter] 
    public EventCallback<bool> OnEditRecord { get; set; }

    public void EditRecord(bool edit) {
        OnEditRecord.InvokeAsync(edit);
    }

    public void ShowRecordPage(Album album) {
        navman.NavigateTo(navman.BaseUri + $"records/{album.Id}");
    }
}
