@using RecordShop
@rendermode InteractiveServer
@namespace RecordShop.Components

<Button ButtonText="Add new" T="bool" Obj="AddingRecord" OnClick="SetAddingRecord"/>

<table class="p-3 m-3">
    <tbody>
        @foreach (var album in Albums)
        {
            <RecordCard Album="album" />
        }
    </tbody>
</table>

@if (AddingRecord) {
    <RecordAdder />
}


@code {
    private bool AddingRecord { get; set; }

    [Parameter] 
    public List<Album> Albums { get; set; } = new();

    [Parameter]
    public EventCallback<Album> OnUpdateAlbum { get; set; }

    private void SetAddingRecord(bool addingRecord) {
        AddingRecord = true;
    }
}
