@using RecordShop
@namespace RecordShop.Components
@inject NavigationManager navigationManager

<EditForm FormName="RecordEditorForm" Model="@Album" OnValidSubmit="UpdateAlbum">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="artist" @bind-Value="Album.Artist" />
    <InputText id="title" @bind-Value="Album.Title" />
    <button type="submit">Submit</button>
</EditForm>


@code {
    private HttpManager httpUtils = new HttpManager();
    private RSNavContext navContext;

    [Parameter]
    public Album? Album { get; set; }

    [Parameter]
    public EventCallback<Album> OnUpdate { get; set; }

    [Parameter]
    public Page PageContext { get; set; }

    protected override void OnInitialized()
    {
        navContext = new RSNavContext(navigationManager);
    }

    private void UpdateAlbum()
    {
        var statusCode = (int)httpUtils.PutRecord(Album).StatusCode;
        navContext.NavigateBack(PageContext, Album);
    }
}
