@page "/records/{Id:int}"
@using RecordShop
@using RecordShop.Components
@rendermode InteractiveServer

<h2>Record details</h2>

<table>
    <tbody>
        <RecordLoader Id="Id"/>
    </tbody>
</table>

@code {
    [Parameter]
    public int Id { get; set; }
}
